@model Gymware.Models.Membresia

@{
    ViewBag.Title = "Eliminar";
}

<h2>Eliminar</h2>

<h3>¿Seguro que desea eliminar esto?</h3>
<fieldset>
    <legend>Membresia</legend>

    <div>
        <br />
        <span class="label">Gimnasio: </span>
        <span><a class="colorLabel">@Html.DisplayFor(model => model.Gimnasio.Nombre)</a></span>
    </div>

    <div>
        <br />
        <span class="label">@Html.DisplayNameFor(model => model.Nombre)</span>
        <span><a class="colorLabel">@Html.DisplayFor(model => model.Nombre)</a></span>
    </div>

    <div>
        <br />
        <span class="label">Descripción:</span>
        <span><a class="colorLabel">@Html.DisplayFor(model => model.Descripcion)</a></span>
    </div>

    <div>
        <br />
        <span class="label">Fecha de Vencimiento:</span>
        <span><a class="colorLabel">@Html.DisplayFor(model => model.FechaVencimiento)</a></span>
    </div>

    <div>
        <br />
        <span class="label">@Html.DisplayNameFor(model => model.Activo)</span>
        <span><a class="colorLabel">@Html.DisplayFor(model => model.Activo)</a></span>
    </div>
</fieldset>

@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
