@model Gymware.Models.Membresia

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Membresia</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.IdMembresia)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IdMembresia)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Gimnasio.Nombre)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Gimnasio.Nombre)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Nombre)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Nombre)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Descripcion)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Descripcion)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FechaVencimiento)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FechaVencimiento)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Activo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Activo)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
