@model Gymware.Models.Membresia

@{
    ViewBag.Title = "Editar Membresia";
}

<h2>Editar Membresia</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Editar Membresia</legend>

        @*<div class="editor-label">
            @Html.LabelFor(model => model.IdMembresia)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.IdMembresia)
            @Html.ValidationMessageFor(model => model.IdMembresia)
        </div>*@

        <div class="editor-label">
            @Html.LabelFor(model => model.IdGimnasio, "Gimnasio")
        </div>
        <div class="editor-field">
            @Html.DropDownList("IdGimnasio", String.Empty)
            @Html.ValidationMessageFor(model => model.IdGimnasio)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Nombre)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Nombre)
            @Html.ValidationMessageFor(model => model.Nombre)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Descripcion, "Descripción")
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Descripcion)
            @Html.ValidationMessageFor(model => model.Descripcion)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.FechaVencimiento, "Fecha de Vencimiento")
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FechaVencimiento)
            @Html.ValidationMessageFor(model => model.FechaVencimiento)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Activo)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Activo)
            @Html.ValidationMessageFor(model => model.Activo)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Regresar a la lista", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
