@model Gymware.Models.Producto

@{
    ViewBag.Title = "Eliminar";
}

<style type="text/css">
    .colorLabel {
        color: black;
        background-color: transparent;
        text-decoration: none;
        font-weight: 600;
    }

        .colorLabel:hover {
            text-decoration: underline;
            background-color: transparent;
        }
</style>

<h2>Eliminar</h2>

<h3>¿Seguro que desea eliminar esto?</h3>
<fieldset>
    <legend>Producto</legend>

    <div>
        <br />
        <span class="label">@Html.DisplayNameFor(model => model.Nombre):</span>
        <span><a class="colorLabel">@Html.DisplayFor(model => model.Nombre)</a></span>
    </div>

    <div>
        <br />
        <span class="label">@Html.DisplayNameFor(model => model.Marca):</span>
        <span><a class="colorLabel">@Html.DisplayFor(model => model.Marca)</a></span>
        
    </div>

    <div>
        <br />
        <span class="label">@Html.DisplayNameFor(model => model.Precio)</span>
        <span><a class="colorLabel">@Html.DisplayFor(model => model.Precio)</a></span>
    </div>

    <div>
        <br />
        <span class="label">@Html.DisplayNameFor(model => model.Activo)</span>
        <span><a class="colorLabel">@Html.DisplayFor(model => model.Activo)</a></span>
    </div>
</fieldset>

@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Eliminar" /> |
        @Html.ActionLink("Regresar a la lista", "Index")
    </p>
}
