@model Gymware.Models.Producto

@{
    ViewBag.Title = "Editar Producto";
}

<h2>Editar Producto</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Editar Producto</legend>

        @*<div class="editor-label">
            @Html.LabelFor(model => model.IdProducto)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.IdProducto)
            @Html.ValidationMessageFor(model => model.IdProducto)
        </div>*@

        <div class="editor-label">
            @Html.LabelFor(model => model.Nombre)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Nombre)
            @Html.ValidationMessageFor(model => model.Nombre)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Marca)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Marca)
            @Html.ValidationMessageFor(model => model.Marca)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Precio)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Precio)
            @Html.ValidationMessageFor(model => model.Precio)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Activo)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Activo)
            @Html.ValidationMessageFor(model => model.Activo)
        </div>

        <p>
            <input type="submit" value="Guardar" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Regresar a la lista", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
