@model IEnumerable<Gymware.Models.Producto>


@{
    ViewBag.Title = "Index";
    WebGrid grid = new WebGrid(Model, // source
                            null, // columnNames
                            null, // defaultSort
                            3,   // rowsPerPage
                            true, // canPage
                            true, // canSort
                            null, // ajaxUpdateContainerId
                            null, // ajaxUpdateCallback
                            null, // fieldNamePrefix
                            null, // pageFieldName
                            null, // selectionFieldName
                            null, // sortFieldName
                            null);// sortDirectionFieldName
}
@*
<html lang="en">
    <head>
        <meta charset="utf-8" />

        <title>@Page.Title</title>
        <script src="@Href("~/scripts/jquery-1.7.1.min.js")" type="text/javascript"></script>

        @RenderSection("script", required: false)
    </head>

    <body>
        @RenderBody()
    </body>
</html>
*@

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<form method="post">
    <div id="grid">
        Nombre: <input type="text" name="Nombre" value="@Request["Nombre"]" />
        Marca:  <select name="country">
                 <option></option>   
            @foreach(var item in Model.Select(x=>x.Marca)){
                <option @(Request["Nombre"] == item ? " selected=\"selected\"" : "")>@item</option>
            }
        </select>
        <input type="submit" value="Buscar" />
    </div>

    @grid.GetHtml(
        tableStyle: "gridtable",
        headerStyle: "gridtable-header",
        alternatingRowStyle: "gridtable-alt",
    
        columns: new [] {
            grid.Column("IdProducto"),
            grid.Column("Nombre", "Nombre"),
            grid.Column("Marca", "Marca"),
            grid.Column("Precio", "Precio"),
            grid.Column("Marca", "Marca"),
            grid.Column("Activo",
                header: "Activo",
                format: @<text>
                             @Html.DisplayNameFor(model => model.Activo)
                         </text>
                ),
            grid.Column("",
                header: "Actions",
                format: @<text>
                             @Html.ActionLink("Editar", "Edit", new {  id=item.IdProducto }) |
                             @Html.ActionLink("Detalles", "Details", new { id=item.IdProducto }) |
                             @Html.ActionLink("Eliminar", "Delete", new { id=item.IdProducto  })
                         </text>
                )
        })
</form>

@*
@section script{
<script type="text/javascript">
   $(function(){
        $('th a, tfoot a').live('click', function() {
            $('form').attr('action', $(this).attr('href')).submit();
            return false;
        });
    });
</script>
}
*@

@*
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IdProducto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Marca)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Precio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Activo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IdProducto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Marca)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Precio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Activo)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new {  id=item.IdProducto }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.IdProducto }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.IdProducto  })
        </td>
    </tr>
}

</table>
*@
