@model Gymware.Models.Promocion

@{
    ViewBag.Title = "Eliminar";
}

<h2>Eliminar</h2>

<h3>¿Seguro que desea eliminar esto?</h3>
<fieldset>
    <legend>Promoción</legend>

    <div>
        <br />
        <span class="label">@Html.DisplayNameFor(model => model.Nombre)</span>
        <span><a class="colorLabel">@Html.DisplayFor(model => model.Nombre)</a></span>
    </div>

    <div>
        <br />
        <span class="label">Descripción:</span>
        <span><a class="colorLabel">@Html.DisplayFor(model => model.Descripcion)</a></span>
    </div>

    <div>
        <br />
        <span class="label">@Html.DisplayNameFor(model => model.Descuento)</span>
        <span><a class="colorLabel">@Html.DisplayFor(model => model.Descuento)</a></span>
    </div>

    <div>
        <br />
        <span class="label">@Html.DisplayNameFor(model => model.Activo)</span>
        <span><a class="colorLabel">@Html.DisplayFor(model => model.Activo)</a></span>
    </div>
</fieldset>

@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Eliminar" /> |
        @Html.ActionLink("Regresar a la lista", "Index")
    </p>
}
