@model Gymware.Models.Promocion

@{
    ViewBag.Title = "Detalle";
}

<style type="text/css">
    .colorLabel {
        color: black;
        background-color: transparent;
        text-decoration: none;
        font-weight: 600;
    }

        .colorLabel:hover {
            text-decoration: underline;
            background-color: transparent;
        }
</style>

<h2>Detalle</h2>

<fieldset>
    <legend>Promoción</legend>

    <div>
        <br />
        <span class="label">@Html.DisplayNameFor(model => model.Nombre):</span>
        <span><a class="colorLabel">@Html.DisplayFor(model => model.Nombre)</a></span>
    </div>

    <div>
        <br />
        <span class="label">Descripción:</span>
        <span><a class="colorLabel">@Html.DisplayFor(model => model.Descripcion)</a></span>
    </div>

    <div>
        <br />
        <span class="label">@Html.DisplayNameFor(model => model.Descuento):</span>
        <span><a class="colorLabel">@Html.DisplayFor(model => model.Descuento)</a></span>
    </div>

    <div>
        <br />
        <span class="label">@Html.DisplayNameFor(model => model.Activo):</span>
        <span><a class="colorLabel">@Html.DisplayFor(model => model.Activo)</a></span>
    </div>
</fieldset>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.IdPromocion }) |
    @Html.ActionLink("Regresar a la lista", "Index")
</p>
