@model Gymware.Models.Cliente

@{
    ViewBag.Title = "Eliminar";
}

<style type="text/css">
    .colorLabel {
        color: black;
        background-color: transparent;
        text-decoration: none;
        font-weight: 600;
    }

        .colorLabel:hover {
            text-decoration: underline;
            background-color: transparent;
        }
</style>

<h2>Eliminar</h2>

<h3>¿Seguro que desea eliminar esto?</h3>
<fieldset>
    <legend>Cliente</legend>

    <div>
        <br />
        <span class="label">Gimnasio:</span>
        <span><a class="colorLabel">@Html.DisplayFor(model => model.Gimnasio.Nombre)</a></span>
    </div>

    <div>
        <br />
        <span class="label">@Html.DisplayNameFor(model => model.Nombre)</span>
        <span><a class="colorLabel">@Html.DisplayFor(model => model.Nombre)</a></span>
    </div>

    <div>
        <br />
        <span class="label">Teléfono:</span>
        <span><a class="colorLabel">@Html.DisplayFor(model => model.Telefono)</a></span>
    </div>

    <div>
        <br />
        <span class="label">Dirección:</span>
        <span><a class="colorLabel">@Html.DisplayFor(model => model.Direccion)</a></span>
    </div>

    <div>
        <br />
        <span class="label">@Html.DisplayNameFor(model => model.Activo)</span>
        <span><a class="colorLabel">@Html.DisplayFor(model => model.Activo)</a></span>
        
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
