@model Gymware.Models.Cliente

@{
    ViewBag.Title = "Editar Cliente";
}

<h2>Editar Cliente</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Editar Cliente</legend>

        @*<div class="editor-label">
            @Html.LabelFor(model => model.IdCliente)
        </div>*@
        <div class="editor-field">
            @Html.HiddenFor(model => model.IdCliente)
          @*  @Html.ValidationMessageFor(model => model.IdCliente)@*@
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IdGimnasio, "Gimnasio")
        </div>
        <div class="editor-field">
            @Html.DropDownList("IdGimnasio", String.Empty)
            @Html.ValidationMessageFor(model => model.IdGimnasio)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Nombre)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Nombre)
            @Html.ValidationMessageFor(model => model.Nombre)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Telefono, "Teléfono")
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Telefono)
            @Html.ValidationMessageFor(model => model.Telefono)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Direccion, "Dirección")
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Direccion)
            @Html.ValidationMessageFor(model => model.Direccion)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Activo)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Activo)
            @Html.ValidationMessageFor(model => model.Activo)
        </div>
        
        @*<div class="editor-label">
           <h3>Membresias</h3>
        </div>
        <div class="editor-field">
            @Html.Raw("Membresias Disponibles:")
            <select name="MembresiaDis">
                <option></option>
                @{
                    foreach (var item in ViewBag.MembresiasDis)
                    {
                        <option>@item.Nombre</option>
                    }
                }
            </select>
            <input type="button" id ="btnAgregarMembresia" name="btnAgregar" value="Agregar" />
        </div>
        <div class="editor-field">
            @Html.Raw("Membresias Adjuntas:")
            <select name="MembresiaAdj">
                <option></option>
                @{
                    foreach (var i in ViewBag.MembresiasAdj)
                    {
                        if (i.IdCliente != Model.IdCliente)
                        {
                            continue;
                        }
                        <option>@i.Membresia</option>
                    }
                }
            </select>
            <input type="button" id="btnEliminarMembresia" name ="btnEliminar" value="Eliminar" />
        </div>*@

        <p>
            <input type="submit" value="Guardar" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Regresar a la lista", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
   @* <script>
        $('#btnAgregar').click(function () {
            $.ajax(
        {
            url: "/yourcontrollermethod/GetStatesByCountry",
            type: 'POST',
            data: { CountryID: $(this).val() },
            datatype: 'json',
            success: function (data) {
                var elements = "";
                $.each(data, function () {
                    elements = elements + '<option values="' + this.id + '">' + this.state + '</option>'
                })
                $('#ddlState').empty().append(elements);
            }
        });
        });
        $('#btnEliminar').click(function () {

        });
    </script>*@
}
