@model Gymware.Models.Curso

@{
    ViewBag.Title = "Crear Curso";
}

<h2>Crear Curso"</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Crear Curso"</legend>

        @*<div class="editor-label">
            @Html.LabelFor(model => model.IdCurso)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.IdCurso)
            @Html.ValidationMessageFor(model => model.IdCurso)
        </div>*@

        <div class="editor-label">
            @Html.LabelFor(model => model.IdGimnasio, "Gimnasio")
        </div>
        <div class="editor-field">
            @Html.DropDownList("IdGimnasio", String.Empty)
            @Html.ValidationMessageFor(model => model.IdGimnasio)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Nombre)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Nombre)
            @Html.ValidationMessageFor(model => model.Nombre)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Precio)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Precio)
            @Html.ValidationMessageFor(model => model.Precio)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Descripcion, "Descripción")
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Descripcion)
            @Html.ValidationMessageFor(model => model.Descripcion)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Activo)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Activo)
            @Html.ValidationMessageFor(model => model.Activo)
        </div>

        <p>
             <input type="submit" value="Crear" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Regresar a la lista", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
