@using WebGrease.Css.Extensions
@model IEnumerable<Gymware.Models.Curso>

@{
    ViewBag.Title = "Index";
    WebGrid grid = new WebGrid(Model, // source
                            null, // columnNames
                            null, // defaultSort
                            10,   // rowsPerPage
                            true, // canPage
                            true, // canSort
                            null, // ajaxUpdateContainerId
                            null, // ajaxUpdateCallback
                            null, // fieldNamePrefix
                            null, // pageFieldName
                            null, // selectionFieldName
                            null, // sortFieldName
                            null);// sortDirectionFieldName
}




<h2>Index</h2>

<p>
    @Html.ActionLink("Agregar Curso", "Create")
</p>

<form method="post">
    <div id="grid">
        Nombre Curso:
        <input type="text" name="NombreCurso" value="@Request["Nombre"]" />
        Gimnasio: 
       <select name="NombreGimnasio">
            <option></option>
            @{
                foreach (var item in ViewBag.NombresGimnasios)
                {
                <option @(Request["Nombre"] == item ? " selected=\"selected\"" : "")>@item</option>
                }
            }
        </select>
        <input type="submit" name="btnBuscar" value="Buscar" />
    </div>

    @grid.GetHtml(
        tableStyle: "gridtable",
        headerStyle: "gridtable-header",
        alternatingRowStyle: "gridtable-alt",

        columns: new[] {
            grid.Column("IdCurso"),
            grid.Column("IdGimnasio", "Nombre Gimnasio"),
            grid.Column("Nombre", "Nombre"),
            grid.Column("Precio", "Precio"),
            grid.Column("Descripcion", "Descripcion"),
            grid.Column("Activo","Activo"),
            grid.Column("",
                header: "Acciones",
                format: @<text>
                             @Html.ActionLink("Edit", "Edit", new { id=item.IdCurso}) |
                             @Html.ActionLink("Details", "Details", new { id=item.IdCurso }) |
                             @Html.ActionLink("Delete", "Delete", new { id=item.IdCurso })
                         </text>
                )
        })
</form>

@section scripts
{
    <script>

        /* $(document).ready(function () {
             alert('Nice');
         });*/

        $('#btnBuscar').click(function () {
            var NombreVal = $('#NombreCurso').val();
            var GymVal = $('#NombreGimnasio').val();

            $.ajax({
                url: '<%: Url.Action("Index")%>',
                data: { 'Nombre': NombreVal, 'Gym': GymVal },
                type: "post",
                cache: false,
                success: function (savingStatus) {
                    //$("#hdnOrigComments").val($('#txtComments').val());
                    //$('#lblCommentsNotification').text(savingStatus);
                    $(document).alert('Nice');
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    //$('#lblCommentsNotification').text("Error encountered while saving the comments.");
                    $(document).alert('bad');
                }
            });
        });
    </script>
}



@*
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IdCurso)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gimnasio.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Precio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Activo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IdCurso)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Gimnasio.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Precio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Activo)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdCurso}) |
            @Html.ActionLink("Details", "Details", new { id=item.IdCurso }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdCurso })
        </td>
    </tr>
}

</table>*@
