@model Gymware.Models.Entrenador

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Entrenador</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.IdEntrenador)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IdEntrenador)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Gimnasio.Nombre)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Gimnasio.Nombre)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Telefono)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Telefono)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Direccion)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Direccion)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Activo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Activo)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
