@model Gymware.Models.Usuario

@{
    ViewBag.Title = "Eliminar";
}

<h2>Eliminar</h2>

<h3>¿Seguro que desea eliminar esto?</h3>
<fieldset>
    <legend>Usuario</legend>

    <div>
        <br />
        <span class="label">Gimnasio:</span>
        <span><a class="colorLabel">@Html.DisplayFor(model => model.Gimnasio.Nombre)</a></span>
    </div>

    <div>
        <br />
        <span class="label">Teléfono:</span>
        <span><a class="colorLabel">@Html.DisplayFor(model => model.Entrenador.Telefono)</a></span>
    </div>

    <div>
        <br />
        <span class="label">@Html.DisplayNameFor(model => model.Nombre):</span>
        <span><a class="colorLabel">@Html.DisplayFor(model => model.Nombre)</a></span>
    </div>

    <div>
        <br />
        <span class="label">Nombre de Usuario:</span>
        <span><a class="colorLabel">@Html.DisplayFor(model => model.NombreUsuario)</a></span>
    </div>

    <div>
        <br />
        <span class="label">@Html.DisplayNameFor(model => model.Contraseña)</span>
        <span><a class="colorLabel">@Html.DisplayFor(model => model.Contraseña)</a></span>
    </div>

    <div>
        <br />
        <span class="label">Teléfono:</span>
        <span><a class="colorLabel">@Html.DisplayFor(model => model.Telefono)</a></span>
    </div>

    <div>
        <br />
        <span class="label">Dirección:</span>
        <span><a class="colorLabel">@Html.DisplayFor(model => model.Direccion)</a></span>
    </div>

    <div>
        <br />
        <span class="label">@Html.DisplayNameFor(model => model.Activo)</span>
        <span><a class="colorLabel">@Html.DisplayFor(model => model.Activo)</a></span>
    </div>
</fieldset>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
