@model Gymware.Models.Usuario

@{
    ViewBag.Title = "Detalle";
}

<style type="text/css">
    .colorLabel {
        color: black;
        background-color: transparent;
        text-decoration: none;
        font-weight: 600;
    }

        .colorLabel:hover {
            text-decoration: underline;
            background-color: transparent;
        }
</style>

<h2>Detalle</h2>

<fieldset>
    <legend>Usuario</legend>

    <div>
        <br />
        <span class="label">@Html.DisplayNameFor(model => model.Gimnasio.Nombre):</span>
        <span><a class="colorLabel">@Html.DisplayFor(model => model.Gimnasio.Nombre)</a></span>
    </div>

    <div>
        <br />
        <span class="label">Teléfono:</span>
        <span><a class="colorLabel">@Html.DisplayFor(model => model.Entrenador.Telefono)</a></span>
    </div>

    <div>
        <br />
        <span class="label">@Html.DisplayNameFor(model => model.Nombre):</span>
        <span><a class="colorLabel">@Html.DisplayFor(model => model.Nombre)</a></span>
    </div>

    <div>
        <br />
        <span class="label">Nombre de Usuario:</span>
        <span><a class="colorLabel">@Html.DisplayFor(model => model.NombreUsuario)</a></span>
    </div>

    <div>
        <br />
        <span class="label">@Html.DisplayNameFor(model => model.Contraseña):</span>
        <span><a class="colorLabel">@Html.DisplayFor(model => model.Contraseña)</a></span>
    </div>

    <div>
        <br />
        <span class="label">Teléfono:</span>
        <span><a class="colorLabel">@Html.DisplayFor(model => model.Telefono)</a></span>
    </div>

    <div>
        <br />
        <span class="label">Dirección:</span>
        <span><a class="colorLabel">@Html.DisplayFor(model => model.Direccion)</a></span>
    </div>

    <div>
        <br />
        <span class="label">@Html.DisplayNameFor(model => model.Activo):</span>
        <span><a class="colorLabel">@Html.DisplayFor(model => model.Activo)</a></span>
    </div>
</fieldset>
<p>
    @Html.ActionLink("Editar", "Edit", new { id=Model.IdUsuario }) |
    @Html.ActionLink("Regresar a la lista", "Index")
</p>
