@model Gymware.Models.ItemMaterial

@{
    ViewBag.Title = "Editar ItemMaterial";
}

<h2>Editar ItemMaterial</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Editar ItemMaterial</legend>

        @*<div class="editor-label">
            @Html.LabelFor(model => model.IdItemMaterial)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.IdItemMaterial)
            @Html.ValidationMessageFor(model => model.IdItemMaterial)
        </div>*@

        <div class="editor-label">
            @Html.LabelFor(model => model.IdMaterial, "Material")
        </div>
        <div class="editor-field">
            @Html.DropDownList("IdMaterial", String.Empty)
            @Html.ValidationMessageFor(model => model.IdMaterial)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Condiciones)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Condiciones)
            @Html.ValidationMessageFor(model => model.Condiciones)
        </div>

        <p>
            <input type="submit" value="Guardar" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Regresar a la lista", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
