@model IEnumerable<Gymware.Models.ItemMaterial>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IdItemMaterial)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Material.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Condiciones)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IdItemMaterial)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Material.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Condiciones)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
