@model IEnumerable<Gymware.Models.VW_ReporteCorteCaja>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Gimnasio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Vendedor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Comprador)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Utilidad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Precio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaCompraVenta)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Gimnasio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Vendedor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Comprador)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Utilidad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Precio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaCompraVenta)
        </td>
        @*<td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>*@
    </tr>
}

</table>
